* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0ebf0;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
    padding: 10px;
}

p#form {
    font-size: 18px;
    text-transform: uppercase;
}

.required-field {
    color: #ff0000;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 2px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;
}

textarea {
    padding: 5px 5px;
}

.header {
    height: 160px;
    padding: 20px;
    background-color: #3086ad;
    text-align: center;
}

.header h3 {
    color: #fff;
    font-size: 30px;
}

.form-container {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
    border-radius: 10px;
    
}

.form-header {
    text-align: center;
    line-height: 40px;
}
.form-header p {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}

.form-body {
    padding: 50px;
}



.form-body p {
    padding-bottom: 40px;
}

.box-input {
    padding: 10px;
    margin-bottom: 10px;
    
}

.block {
    display: block;
    padding: 10px;
    align-items: center;
}

.optional-box {
    display: inline-block;
    padding: 10px;
}
.optional-list li {
    list-style: none;
}

.box-input p, .optional-box p {
    padding: 14px;
}

.btn-summit {
    font-size: 16px;
    padding: 4px;
    background-color: #3086ad;
    color: #fff;
    cursor: pointer;
}

.btn-summit:hover {
    background-color: #69a4c0;
    color: #fff;
}


